body {
    background: url('http://localhost:8880/kutsu/Pictures/kaart_bg.jpg');
}


.kaart_kohad {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px 0px 0px 0px;
}

iframe#kaart_koht {
    width: -webkit-fill-available;
    
    margin: 0px 165px 0px 165px;
}


.main {
    position: inherit;
    margin: 50px 0px 100px 0px;
}

#map {
    width: -webkit-fill-available;
    height: 464px;
    margin: 0px 165px 0px 165px;
}

#junnu {
    display: flex;
    justify-content: center;
}